@page "/"
@using Microsoft.AspNetCore.Components.Authorization

<PageTitle>Home</PageTitle>

<h1>Hello, world!!</h1>

Welcome to your new app.

<ParentComponent/>

<a href="/counter" class="btn btn-primary">Go to Counter</a>
        
<AuthorizeView>
    <Authorized>
        <div>You are authorized.</div>
    </Authorized>
    <NotAuthorized>
        <div>You are not authorized.</div>
    </NotAuthorized>

</AuthorizeView>