@page "/tickets"
@using Domain.Abstractions
@using Domain.Models
@inject ITicketRepository repository


<h3>Hello Tickets!</h3>

<p>Jestes na stronie @title</p>

<ul>
    @foreach(var ticket in tickets)
    {
        <li>@ticket.Id @ticket.Title</li>
    }
</ul>

@code {
    string title = "Tickets";

    IEnumerable<Ticket> tickets = Enumerable.Empty<Ticket>();
        

    protected override void OnInitialized()
    {
        // TODO: Pobierz z repozytorium
        tickets = repository.GetAll();
    }
     

}
