<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorApp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="menu" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-row d-flex">
       
       <NavItem Title="Home" Url="" Match="NavLinkMatch.All" >
            <i class="fa-solid fa-house"></i>
       </NavItem>

       <NavItem Title="Tickets" Url="/tickets">

       </NavItem>
       
       <NavItem Title="Users" Url="/users" >
            <i class="fa-solid fa-user"></i>
       </NavItem>
       
       <NavItem Title="Counter" Url="/counter" >
            <i class="fa-solid fa-gear"></i>
       </NavItem>

        <NavItem Title="Javascript" Url="/js">
            <i class="fa-solid fa-gear"></i>
        </NavItem>
    </nav>
</div>

