@page "/users"
@inject IUserRepository repository
@rendermode InteractiveServer


<h3>Users</h3>

<SearchBar OnSearch="Search" />

<EntityTableTemplate Entities="@users">
    <RowTemplate Context="user">
        <td>@user.FirstName</td>
        <td>@user.LastName</td>
    </RowTemplate>
</EntityTableTemplate>

@code {

    private IEnumerable<User> users;

    protected override void OnInitialized()
    {
        users = repository.GetAll();
    }

    private void Search(string text)
    {
        Console.WriteLine($"Search users by {text}");

    }

}