@page "/archive"
@inject ITicketRepository repository

<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Status</th>
            <th>Created By</th>
        </tr>

    </thead>
    <tbody>
        @foreach(var ticket in tickets)
        {
            <tr>
                <td>@ticket.Title</td>
                <td>@ticket.Status</td>
                <td>@ticket.CreatedBy</td>
            </tr>
        }
    </tbody>
    <tfoot>
    </tfoot>
</table>

@code {
    private IEnumerable<Ticket> tickets = Enumerable.Empty<Ticket>();

    protected override void OnInitialized()
    {
        tickets = repository.GetAll();
    } 
    
}
