@page "/archive"
@inject ITicketRepository repository

<h3>Archive</h3>

<TicketTableTemplate Tickets="@tickets" />

@code {
    private IEnumerable<Ticket> tickets = Enumerable.Empty<Ticket>();

    protected override void OnInitialized()
    {
        tickets = repository.GetAll();
    } 
    
}
