@page "/tickets"
@using Domain.Abstractions
@using Domain.Models

<h3>Hello Tickets!</h3>

<p>Jestes na stronie @title</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Status</th>
            <th>Created By</th>
        </tr>

    </thead>
    <tbody>
        @foreach(var ticket in tickets)
        {
            <tr>
                <td>@ticket.Title</td>
                <td>@ticket.Status</td>
                <td>@ticket.CreatedBy</td>
            </tr>
        }
    </tbody>
    <tfoot>
    </tfoot>
</table>

