@page "/tickets"
@using Domain.Abstractions

<h3>Hello Tickets!</h3>

<p>Jestes na stronie @title</p>

<TicketTableTemplate Tickets="@tickets" >
    <th>Title</th>
    <th>Status</th>
    <th>Created By</th>
</TicketTableTemplate>


