@using Microsoft.AspNetCore.Components.Authorization

<CascadingValues>

    <CascadingAuthenticationState>
        <Router AppAssembly="typeof(Program).Assembly">
            <Found Context="routeData">
                <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(Layout.SimpleLayout)" >
                    <NotAuthorized>
                        <p>Nie masz dostepu do aplikacji</p>
                    </NotAuthorized>
                </AuthorizeRouteView>
                <FocusOnNavigate RouteData="routeData" Selector="h1" />
            </Found>
        </Router>
    </CascadingAuthenticationState>
</CascadingValues>