
<table class="table table-striped">
    
    @if(ChildContent is not null)
    {
        <thead>
            <tr>
                @ChildContent                
            </tr>

        </thead>
    }

    <tbody>
        @foreach(var ticket in Tickets)
        {
            <tr>
                <td>@ticket.Title</td>
                <td>@ticket.Status</td>
                <td>@ticket.CreatedBy</td>
            </tr>
        }
    </tbody>
    <tfoot>
    </tfoot>
</table>

@code  {

    [Parameter, EditorRequired]
    public required IEnumerable<Ticket> Tickets { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; } 
}