
<table class="table table-striped">
    
    @if(HeaderTemplate is not null)
    {
        <thead>
            <tr>
                @HeaderTemplate                
            </tr>

        </thead>
    }

    <tbody>
        @foreach(var ticket in Tickets)
        {
            <tr>
                @RowTemplate(ticket)
             
            </tr>
        }
    </tbody>
    <tfoot>
    </tfoot>
</table>

@code  {

    [Parameter, EditorRequired]
    public required IEnumerable<Ticket> Tickets { get; set; }

    [Parameter]
    public RenderFragment? HeaderTemplate { get; set; } 

    [Parameter]
    public RenderFragment<Ticket> RowTemplate { get; set; }
}